{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h2 class="text-center">{{ category.name }}</h2>
        <hr>
        {% for product in products_of_category %}
        <div class="row">
            <div class="col-sm-4">
                <img src="{{ product.image.url }}" alt="" style="width: 80%; height: 250px">
            </div>
            <div class="col-sm-8 text-center">
                <h3>{{ product.title }}</h3>
                <hr>
                <h2>Цена: {{ product.price }} руб.</h2>
                <a href="{{ product.get_absolute_url }}"><button class="btn btn-success">Подробней</button></a>
                <a href="{% url 'add_to_cart'%}" class="add_to_cart" data-slug='{{ product.slug }}'><button class="btn btn-danger">Добавить в корзину</button></a>
            </div>
        </div>
        <br>
        {% endfor %}
    </div>
</div>
<script src='{% static "js/jquery.js" %}'></script>
<script>
    $(document).ready(function(){
        $('.add_to_cart').on('click', function(e){
            e.preventDefault()
            product_slug = $(this).attr('data-slug')
            data = {
                product_slug: product_slug
            }
            $.ajax({
                type: "GET",
                url: '{% url 'add_to_cart' %}',
                data: data,
                success: function(data){
                    $("#cart_count").html(data.cart_total)
                }
            })
        })
    })
    
</script>


{% endblock content %}